body {
    align-items: center;
    justify-items: center;
    margin: 0;
}

ul li a {
  display: block; 
  color: #48aee0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

ul li a:hover {
  background-color: black;
}




.navbar {
  background-color: black;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
