body {
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

@keyframes tremer {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-1px, -2px) rotate(-1deg); }
  40% { transform: translate(-3px, 0px) rotate(1deg); }
  60% { transform: translate(3px, 2px) rotate(0deg); }
  80% { transform: translate(1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, 2px) rotate(-1deg); }
}

.texto-tremendo {
  animation: tremer 0.030s infinite; /* 0.3s torna o efeito rápido */
  display: inline-block; /* Necessário para aplicar transformações corretamente */
}